#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0740350f-2181-4257-9cf9-59b7dd9a59bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}