#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Line_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 97px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 97px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-74b5b120-b8dd-4ade-a080-73cb54d20681 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}