#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9223bd5f-cd7a-4498-90b5-3a7cfb447755 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}