#s-edfd7060-1374-481a-96f0-1feabb1a2a5d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-edfd7060-1374-481a-96f0-1feabb1a2a5d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-edfd7060-1374-481a-96f0-1feabb1a2a5d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-edfd7060-1374-481a-96f0-1feabb1a2a5d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-edfd7060-1374-481a-96f0-1feabb1a2a5d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-edfd7060-1374-481a-96f0-1feabb1a2a5d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}