#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6BCDFD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6BCDFD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6BCDFD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6BCDFD;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 130px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}