#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ef3d40c1-9f87-4c3c-8a53-cebbd4d2261d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}